<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>
<body>
	<h1>Register</h1>
	<br/>
	<form method="POST">
	    {{msg}}
	    <br/>
		Username: <input type="text" name="username" value="{{user.username}}" required><br/><br/>
		Password: <input type="password" name="password" value="" required><br/><br/>
		Confirm Password: <input type="password" name="confirmPass" value="" required><br/><br/>
		<input type="submit" value="SIGN UP">
     </form>
     Already A User?
     <a href="/login">login</a>
</body>
</html>