<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<br/>
	<form method="POST">
		{{msg}}<br/>
		Username: <input type="text" name="username" value="{{user.username}}" required><br/><br/>
		Password: <input type="password" name="password" value="" required><br/><br/>
		<input type="submit" value="LOGIN">
	</form>
		Not Yet Registered?!!!
         <a href="/signup">register here</a>
	</body>
</html>
