<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome {{user.username}}</title>
</head>
<body>
	hello!! <br/>
	{{user.username}}
<form method="POST">
		<input type="submit" value="LOGOUT">
	</form>
</body>
</html>